{%  extends 'djoba/index.html' %}
{% load staticfiles %}

{% block content %}
{% include 'djoba/nav.html' with nav_location=view.location %}
{% for contact in contacts %}
<div class='centered'>
		<h1>{{contact.name}}</h1>
		<h4>Company:</h4>{{contact.company_name}}
		<h4>Date Added:</h4>{{contact.date_added}}
		<form method='get' action="{% url 'contact_details' pk=contact.id %}">
			<button class='btn'type='submit' value='Contact Details'>Contact Details</button>
		</form>
</div>
{% endfor %}
{% endblock content %}






