{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<!-- <link rel="stylesheet" href="{% static 'temp_test/styles.css' %}"> -->
</head>
<body>

		{% block content %}
		{% if user.is_authenticated %}
		<h1>Hello</h1>
		<h1>{{user}}!!</h1>
		{% else %}
		<h1>You are not logged in!</h1>
		{% endif %}
		{% endblock content %}

</body>
</html>