{%  extends 'djoba/index.html' %}
{% load staticfiles %}

{% block content %}
<div class='centered'>
	<!-- <img src=" /static/temp_test/images/mypigrow_logo.png" > -->
	<form method='get' action='/logout'>
		<button class='btn'type='submit' value='Log Out'>Log Out</button>
	</form>
	<form method='get' action='/jobs'>
		<button class='btn'type='submit' value='Jobs'>Jobs</button>
	</form>
	<form method='get' action='/new_job'>
		<button class='btn'type='submit' value='Add Job'>Add Job</button>
	</form>
</div>
{% endblock content %}
